/* Sofia-Sans */
@font-face {
  font-family: "Sofia-Sans";
  src: url("font/Sofia-Sans/SofiaSans-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sofia-Sans";
  src: url("font/Sofia-Sans/SofiaSans-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

/* Inconsolata */
@font-face {
  font-family: "Inconsolata";
  src: url("font/Inconsolata/Inconsolata-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata";
  src: url("font/Inconsolata/Inconsolata-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-family: "Sofia-Sans", sans-serif;
  --monospace: "Inconsolata", monospace;
  --font-weight-base: 400;
  --font-weight-strong: 700;
}
