@import url("font.css");

:root {
  --controlWidth: 32em;
  --margin: 0.5em;
  --highlight-color: #fbf1b4;
  --fill-color: #c0c0c0;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-base);
  font-size: 12px;
  margin: auto;
  height: 100%;
}

#main {
  margin: 0 auto;
  width: fit-content;
  height: 100%;

  writing-mode: vertical-lr;
  text-orientation: mixed;
  text-align: start;
}

div.controlBlock {
  writing-mode: initial;
  text-orientation: initial;
  text-align: initial;

  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: calc(var(--controlWidth) + var(--margin));
  margin: 0 var(--margin) 0 var(--margin);
}

p#renderStatus {
  text-align: center;
}

/* Headings */
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  width: 100%;
}

h1,
h2 {
  font-weight: var(--font-weight-strong);
}


h6 {
  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  margin: 0.5em 0 0.5em 0;
  padding: 0.25em 0 0.25em 0em;

  font-size: 1em;
  font-weight: var(--font-weight-base);

  text-align: center;
  vertical-align: middle;
}

/* Collapsible. */
details {
  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  margin: 0.5em 0 0.5em 0;

  text-align: left;
  vertical-align: middle;
}

summary {
  padding: 0.25em 0 0.25em 0em;
  font-weight: var(--font-weight-base);
}

div.summaryBottomPad {
  height: var(--margin);
  box-sizing: border-box;
  width: 100%;
}

summary:hover {
  background-color: var(--highlight-color);
}

/* Canvas */
canvas {
  vertical-align: top;
}

div.canvasMargin {
  display: inline-block;
  margin: var(--margin);
  border: solid 1px var(--fill-color);
  border-radius: 1px;
  padding: 0px;
}

div.canvasMargin:hover {
  margin: 1px;
  border: solid var(--margin) var(--highlight-color);
  border-radius: 1px;
}

/* Button. */
#playControl {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  margin: var(--margin);
}

span#playControlFiller {
  display: inline-block;
  width: 2em;
  max-width: 2em;
}

input[type="button"] {
  display: inline-block;
  vertical-align: middle;
  font-size: inherit;
  font-family: inherit;
  height: 2em;
}

/* randomRecipe */
input[type="button"]#randomRecipe {
  box-sizing: border-box;
}

select#randomRecipe {
  width: 28%;
  max-width: 28%;
  box-sizing: border-box;

  display: inline-block;
  vertical-align: middle;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  height: 2em;
}

/* ToggleButton */
input[type="button"].toggleState0 {
  border-radius: 4px;
  border: solid 1px #888888;
  margin: var(--margin) 0 var(--margin) 0;
  padding: 2px;

  color: #606060;
  background-color: white;
}

input[type="button"].toggleState0:hover {
  border: solid 1px var(--highlight-color);
}

input[type="button"].toggleState1 {
  border-radius: 4px;
  border: solid 1px #888888;
  margin: var(--margin) 0 var(--margin) 0;
  padding: 2px;

  color: #000000;
  background-color: #ffdc85;
}

input[type="button"].toggleState1:hover {
  border: solid 1px var(--highlight-color);
}

input[type="button"].toggleButtonLine {
  width: 100%;
  box-sizing: border-box;
  margin: var(--margin) 0 var(--margin) 0;
  padding: 0;
}

/* `inputLine` class is shared between controls that occupies a line. */
div.inputLine {
  display: flex;
  text-align: center;
  width: auto;

  padding: var(--margin);
}

div.inputLine:hover {
  background-color: var(--highlight-color);
}

label.inputLine {
  display: block;
  width: 31.25%;

  margin: auto;
  padding-left: var(--margin);

  text-align: left;
}

/* NumberInput */
input[type="range"] {
  flex-grow: 1;
  display: block;
  margin-right: var(--margin);
}

input[type="number"] {
  display: block;
  font-size: inherit;
  font-family: inherit;
  width: 31.25%;
  margin: auto;
}

/* ComboBox */
select.inputLine {
  display: block;
  text-align: center;
  font-size: inherit;
  font-family: inherit;
  flex-grow: 1;
}

/* Barbox */
label.barbox {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin: var(--margin);
  text-align: center;
}

span.barbox {
  margin: var(--margin) var(--margin) var(--margin) calc(2 * var(--margin));
  width: fit-content;
  display: inline-block;
  text-align: left;
}

input.barbox {
  margin: var(--margin);
  width: fit-content;
  display: inline-block;
}
