@import url("font.css");

:root {
  /* Layout Variables */
  --control-width: 32em;
  --margin: 0.5em;
  --font-size-body: 12px;
  --border-radius-mid: 4px;
  --border-radius-small: 1px;
  --input-line-label-width: 31.25%;
  --input-range-width: 60%;

  /* Color Variables (Light Mode Default) */
  --color-background: #ffffff;
  --color-text-main: #000000;
  --color-text-dim: #808080;
  --color-highlight: #fbf1b4;
  --color-fill: #c0c0c0;
  --color-border-light: #e0e0e0;
  --color-border-mid: #b0b0b0;
  --color-border-dark: #888888;
  --color-shadow-main: #000000;
  --color-shadow-dim: #606060;
  --color-input-background: #ffffff;
  --color-track-background: #b0b0b0;
  --color-track-active: #808080;
  --color-thumb-background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #202020;
    --color-text-main: #dfdfdf;
    --color-text-dim: #7f7f7f;
    --color-highlight: #232a58;
    --color-fill: #4f4f4f;
    --color-border-light: #373737;
    --color-border-mid: #5b5b5b;
    --color-border-dark: #797979;
    --color-shadow-main: #dfdfdf;
    --color-shadow-dim: #979797;
    --color-input-background: #202020;
    --color-track-background: #5b5b5b;
    --color-track-active: #7f7f7f;
    --color-thumb-background: #202020;
  }

  a {
    filter: invert(0.8745);
  }

  canvas {
    filter: invert(0.8745);
  }
}

html {
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-body);
  margin: auto;
  height: 100%;

  background: var(--color-background);
  color: var(--color-text-main);
}

a:hover {
  border-radius: var(--border-radius-mid);
  box-shadow: 0 0 var(--margin) var(--color-shadow-main);
}

#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
}

div.controlBlock {
  display: block;
  width: 100%;
  max-width: calc(var(--control-width) + 4px);
  margin: var(--margin);
}

p#renderStatus {
  writing-mode: horizontal-tb;
  text-orientation: upright;
  height: calc(1.5 * var(--font-size-body));
  text-align: center;
}

/* Headings */
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  width: 100%;
}

h1,
h2 {
  font-weight: var(--font-weight-strong);
}


h6 {
  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  margin: 0.5em 0 0.5em 0;
  padding: 0.25em 0 0.25em 0em;

  font-size: 1em;
  font-weight: var(--font-weight-base);

  text-align: center;
  vertical-align: middle;
}

/* Collapsible. */
details,
.tabViewContentRegion {
  display: inline-block;

  box-sizing: border-box;
  width: 100%;

  text-align: left;
  vertical-align: middle;

  /* When closed. */
  padding: 0;
}

details[open] {
  padding: 0 0 var(--margin) 0;
}

details[open] summary {
  margin: var(--margin) 0 var(--margin) 0;
  padding: 0.25em 0 0.25em 0.125em;
  box-shadow: none;
}

details[open] summary:hover {
  box-shadow: 1px 1px 2px var(--color-shadow-main);
}

summary {
  margin: 0;
  box-shadow: inset 1px 1px 4px var(--color-shadow-main);
  --pad: calc(0.25em + var(--margin));
  padding: var(--pad) 0 var(--pad) 0.125em;
  font-weight: var(--font-weight-base);
}

summary:hover {
  box-shadow: 1px 1px 4px var(--color-shadow-main);
  border-radius: var(--border-radius-small);
}

/* TabView */
.tabViewButtonRegion {
  display: flex;
  align-items: center;

  width: calc(100% - 2 * var(--margin));
  padding: var(--margin);
}

label.tabRadioLabel {
  display: flex;
  align-items: center;

  flex-grow: 1;
  height: calc(var(--font-size-body) + 2 * var(--margin));
  border-radius: var(--border-radius-mid);
  border: outset 2px var(--color-border-light);
}

label.tabRadioLabelActive {
  border-radius: var(--border-radius-mid);
  border: inset 2px var(--color-border-light);
  box-shadow: inset 1px 1px 2px var(--color-shadow-main);
  background: var(--color-highlight);
}

label.tabRadioLabelInactive {
  border-radius: var(--border-radius-mid);
  border: outset 2px var(--color-border-light);
  background: var(--color-input-background);
}

label.tabRadioLabelInactive:hover {
  border: outset 2px var(--color-border-light);
  box-shadow: 2px 2px 4px var(--color-shadow-main);
}

div.tabViewButtonRegion>label>span {
  display: inline-block;
  --side-margin: calc(2 * var(--margin));
  margin: 0 var(--side-margin) 0 var(--side-margin);
}

div.tabViewButtonRegion>label>input {
  appearance: none;
  display: inline-block;
  height: 100%;
  margin: 0;
}

/* Canvas */
canvas {
  vertical-align: top;
}

div.canvasMargin {
  display: inline-block;
  margin: var(--margin);
  border: solid 1px var(--color-fill);
  border-radius: var(--border-radius-small);
  padding: 0px;
}

div.canvasMargin:hover {
  box-shadow: 0 0 var(--margin) var(--color-shadow-main);
}

/* Button. */
div.playControl {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  margin: var(--margin);
}

span#playControlFiller {
  display: inline-block;
  width: 2em;
  max-width: 2em;
}

input[type="button"] {
  display: inline-block;
  vertical-align: middle;
  font-size: inherit;
  font-family: inherit;
  height: 2em;
  color: var(--color-text-main);

  border-radius: var(--border-radius-mid);
  border: solid 1px var(--color-border-dark);
  background: var(--color-input-background);
}

input[type="button"]:hover {
  filter: invert(5%);
}

/* randomRecipe */
input[type="button"]#randomRecipe {
  box-sizing: border-box;
}

select#randomRecipe {
  width: 28%;
  max-width: 28%;
  box-sizing: border-box;

  vertical-align: middle;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  height: 2em;
}

select:hover {
  filter: invert(5%);
}

/* ToggleButton */
input[type="button"].toggleState0 {
  border: outset 1px var(--color-border-light);
  box-shadow: 1px 1px 3px var(--color-text-dim);
}

input[type="button"].toggleState0:hover {
  box-shadow: 1px 1px 1px var(--color-shadow-main);
}

input[type="button"].toggleState1 {
  border-radius: var(--border-radius-mid);
  border: inset 1px var(--color-border-dark);
  background: var(--color-highlight);
}

input[type="button"].toggleState1:hover {
  box-shadow: inset 1px 1px 2px var(--color-shadow-main);
  border: inset 1px var(--color-highlight);
}

input[type="button"].toggleButtonLine {
  width: calc(var(--control-width) - var(--margin));
  box-sizing: border-box;
  margin: var(--margin);
}

/* CheckBox */
div.checkBoxLine {
  display: flex;
  text-align: center;
  width: auto;
  padding: var(--margin);
}

div.checkBoxLine:hover {
  box-shadow: 1px 1px 4px var(--color-shadow-main);
}

label.checkBoxLine {
  display: block;
  width: var(--input-line-label-width);

  margin: auto;
  padding-left: var(--margin);

  text-align: left;
}

input[type="button"].checkBoxLine {
  width: calc(100% - var(--input-line-label-width));
  box-sizing: border-box;
  margin: 0 var(--margin) 0 var(--margin);
}

/* `inputLine` class is shared between controls that occupies a line. */
div.inputLine {
  display: flex;
  text-align: center;
  width: auto;
  padding: var(--margin);
}

div.inputLine:hover {
  box-shadow: 1px 1px 4px var(--color-shadow-main);
}

div.inputLineContainer {
  margin: 0;
  padding: 0;
  width: calc(100% - var(--input-line-label-width));
  display: flex;
}

label.inputLine {
  display: block;
  width: var(--input-line-label-width);

  margin: auto;
  padding-left: var(--margin);

  text-align: left;
}

/* NumberInput: <input type="range"> */
input[type="range"] {
  -webkit-appearance: none;

  width: var(--input-range-width);
  margin: 0;
  display: inline-block;
  margin-right: var(--margin);
  background: none;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px var(--color-shadow-main);
  border: 2px ridge var(--color-shadow-main);
  height: var(--font-size-body);
  width: var(--font-size-body);
  border-radius: 3px;
  background: var(--color-thumb-background);
  cursor: pointer;
}

input[type=range]::-moz-range-thumb:hover {
  box-shadow: none;
  background: var(--color-border-light);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: calc(0.1 * var(--font-size-body));
  background: var(--color-track-background);
  border: 1px var(--color-border-light) inset;
  cursor: pointer;
}

input[type=range]:hover::-moz-range-track {
  border: 1px var(--color-track-active) solid;
  background: var(--color-track-active);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: calc(-0.5 * var(--font-size-body));

  box-shadow: 1px 1px var(--color-shadow-dim);
  border: 2px ridge var(--color-border-mid);
  height: var(--font-size-body);
  width: var(--font-size-body);
  border-radius: 3px;
  background: var(--color-thumb-background);
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
  box-shadow: none;
  background: var(--color-border-light);
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: calc(0.1 * var(--font-size-body));
  background: var(--color-track-background);
  border: 1px var(--color-border-light) inset;
  cursor: pointer;
}

input[type=range]:hover::-webkit-slider-runnable-track {
  border: 1px var(--color-track-active) solid;
  background: var(--color-track-active);
}

/* NumberInput: <input type="number"> */
input[type="number"] {
  appearance: textfield;

  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  width: calc(100% - var(--input-range-width));
  margin: auto;

  background: var(--color-input-background);
  color: var(--color-text-main);
  border: 1px solid var(--color-border-dark);
}

input[type="number"]:hover {
  appearance: auto;
}

/* ComboBox */
select {
  background: var(--color-input-background);
  color: var(--color-text-main);
  border: 1px solid var(--color-border-dark);
}

select.inputLine {
  display: block;
  text-align: center;
  font-size: inherit;
  font-family: inherit;
  flex-grow: 1;
}

/* Barbox */
div.barboxContainer {
  background: inherit;
}

div.barboxContainer:hover {
  background: var(--color-highlight);
}

label.barbox {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin: var(--margin);
  text-align: center;
}

span.barbox {
  margin: var(--margin) var(--margin) var(--margin) calc(2 * var(--margin));
  width: fit-content;
  display: inline-block;
  text-align: left;
}

input.barbox {
  margin: var(--margin);
  width: fit-content;
  display: inline-block;
}

/* RecipeExportDialog */
dialog.recipeExport {
  padding: calc(3 * var(--margin));
  font-size: 1rem;
  background: var(--color-background);
  color: var(--color-text-main);
  border: 1px solid var(--color-border-mid);
}

dialog.recipeExport>h2 {
  margin-top: var(--margin);
}

div.dialogTextInputLine {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  width: calc(2/3 * var(--control-width));
  margin: calc(2 * var(--margin));
}

div.dialogTextInputLine:hover {
  box-shadow: 1px 1px 4px var(--color-shadow-main);
}

div.dialogTextInputLine>label {
  flex-basis: 33%;
}

div.dialogTextInputLine>input[type="text"] {
  flex-basis: 67%;
  box-sizing: border-box;
  padding: var(--margin);
  font-size: inherit;
  background: var(--color-input-background);
  color: var(--color-text-main);
  border: 1px solid var(--color-border-dark);
}

div.dialogConfirmButtonLine {
  display: flex;
  align-items: center;
  margin: calc(3 * var(--margin)) calc(2 * var(--margin));
}

div.dialogConfirmButtonLine>input[type="button"] {
  flex-grow: 3;
  vertical-align: middle;
  height: 2em;
}

div.dialogConfirmCenterPad {
  flex-grow: 1;
}

div.dialogDescription {
  margin: calc(2 * var(--margin));
}

/* RecipeImportDialog */
dialog.recipeImport {
  width: 66%;
  padding: calc(3 * var(--margin));
  font-size: 1rem;
  background: var(--color-background);
  color: var(--color-text-main);
  border: 1px solid var(--color-border-mid);
}

dialog.recipeImport>h2 {
  margin-top: var(--margin);
}

dialog.recipeImport>div.RecipeImportInputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: calc(2 * var(--margin));
  margin-bottom: 0;
}

div.RecipeImportInputContainer>input[type="file"] {
  font-size: inherit;
  box-sizing: border-box;
  padding: var(--margin);
}

input[type="file"]:hover {
  box-shadow: 2px 2px 8px var(--color-shadow-main);
  background: var(--color-highlight);
}

div#RecipeImportDragAndDropArea {
  max-width: 100%;
  height: calc(var(--control-width) / 2);
  box-sizing: border-box;
  border: inset 8px var(--color-shadow-main);
  transition: all 0.08s ease-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

div#RecipeImportDragAndDropArea>span {
  color: var(--color-text-dim);
  font-size: 4rem;
}

div#RecipeImportDragAndDropArea:hover {
  background: var(--color-highlight);
  box-shadow: inset 8px 8px 16px var(--color-shadow-main);
}
